<div id="app">
    <h1>Config</h1>
    <div id="config" v-if="isloaded_config && isloaded_types">
        <h2>Network</h2>
        <form>
            <div class="form-row">
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text">Hostname</div>
                    </div>
                    <input class="form-control" v-model="config.network.hostname" placeholder="hostname">
                </div>
            </div>
        </form>
        <h2>Buttons/Actors</h2>
        <form>
            <button-item v-for="(b, i) in config.buttons" v-bind:b="b" v-bind:key="b.pin"
                v-on:delete-row="deleteItem('buttons', i)"></button-item>
            <button type="button" v-on:click="addButton" class="btn btn-outline-primary btn-lg btn-block">add</button>
        </form>
        <h2>Sensors</h2>
        <form>
            <sensor-item v-for="(s, i) in config.sensors" v-bind:s="s" v-bind:key="s.pin"
                v-on:delete-row="deleteItem('sensors', i)"></sensor-item>
            <button type="button" v-on:click="addSensor" class="btn btn-outline-primary btn-lg btn-block">add</button>
        </form>
        <h2>Timers</h2>
        <form>
            <timer-item v-for="(t, i) in config.timers" v-bind:t="t" v-bind:key="t.name"
                v-on:delete-row="deleteItem('timers', i)"></timer-item>
            <button type="button" v-on:click="addTimer" class="btn btn-outline-primary btn-lg btn-block">add</button>
        </form>
        <h2>Thresholds</h2>
        <form>
            <thresh-item v-for="(t, i) in config.thresholds" v-bind:t="t" v-bind:key="t.name"
                v-on:delete-row="deleteItem('thresholds', i)"></thresh-item>
            <button type="button" v-on:click="addThreshold"
                class="btn btn-outline-primary btn-lg btn-block">add</button>
        </form>
        <button id="saveConfig" type="button" v-on:click="saveConfig" class="btn btn-success btn-lg btn-block">Update
            config and restart</button>
    </div>
</div>

<script type="text/javascript">

    // button/actor
    Vue.component('button-item', {
        props: ['b'],
        template: '<div class="form-row align-items-center">' +
            '<div class="col"><div class="input-group mb-2"><div class="input-group-prepend"><div class="input-group-text">Name</div></div><input class="form-control" v-model="b.name" placeholder="name"/></div></div>' +
            '<div class="w-100"></div>' +
            '<div class="col"><div class="input-group mb-2"><div class="input-group-prepend"><div class="input-group-text">GPIO</div></div><input class="form-control" type="number" v-model="b.pin" min="0" max="39" placeholder="GPIO"/></div></div>' +
            '<div class="col"><div class="input-group mb-2"><div class="input-group-prepend"><div class="input-group-text">Type</div></div><select class="custom-select" v-model="b.type"><option>toggle</option><option>scroll</option></select></div></div>' +
            '<div class="w-100"></div>' +
            '<div class="col" v-if="b.type===\'scroll\'"><div class="input-group mb-2"><div class="input-group-prepend"><div class="input-group-text">Min</div></div><input class="form-control" type="number" v-model="b.min" min="0" max="1023" placeholder="min"/></div></div>' +
            '<div class="col" v-if="b.type===\'scroll\'"><div class="input-group mb-2"><div class="input-group-prepend"><div class="input-group-text">Max</div></div><input class="form-control" type="number" v-model="b.max" min="0" max="1023" placeholder="max"/></div></div>' +
            '<div class="w-100"></div>' +
            '<div class="col"><button type="button" @click="$emit(\'delete-row\')" class="btn btn-outline-danger btn-lg btn-block">delete</button></div></div>'
    });

    // sensor
    Vue.component('sensor-item', {
        props: ['s'],
        template: '<div class="form-row">' +
            '<div class="col"><div class="input-group mb-2"><div class="input-group-prepend"><div class="input-group-text">Name</div></div><input class="form-control" v-model="s.name" placeholder="name"/></div></div>' +
            '<div class="w-100"></div>' +
            // '<div class="col"><div class="input-group mb-2"><div class="input-group-prepend"><div class="input-group-text">Sensor</div></div><select class="custom-select" v-model="s.type"><option>AM2301</option><option>SHT31</option><option>analog_h</option><option>analog_t</option></select></div></div>' +
            '<div class="col"><div class="input-group mb-2"><div class="input-group-prepend"><div class="input-group-text">Sensor</div></div><select class="custom-select" v-model="s.type"><option v-for="stype in this.$root.sensor_types" v-bind:value="stype.name">{{ stype.name }}</option></select></div></div>' +
            '<div class="w-100"></div>' +
            '<div class="col"><div class="input-group mb-2"><div class="input-group-prepend"><div class="input-group-text">Address</div></div><input class="form-control" :disabled="![\'SHT31\'].includes(s.type)" v-model="s.address" min="0" placeholder="address"></div></div>' +
            '<div class="col"><div class="input-group mb-2"><div class="input-group-prepend"><div class="input-group-text">GPIO</div></div><input class="form-control" :disabled="![\'AM2301\', \'analog_t\', \'analog_h\'].includes(s.type)" type="number" v-model="s.pin" min="0" max="39" placeholder="GPIO"></div></div>' +
            '<div class="col"><div class="input-group mb-2"><div class="input-group-prepend"><div class="input-group-text">On</div></div><input class="form-control" type="checkbox" v-bind:checked="s.enabled" placeholder="enabled"></div></div>' +
            '<div class="w-100"></div>' +
            '<div class="col"><button type="button" @click="$emit(\'delete-row\')" class="btn btn-outline-danger btn-lg btn-block">delete</button></div></div>'
    });

    // timer
    Vue.component('timer-item', {
        props: ['t'],
        template: '<div class="form-row">' +
            '<div class="col"><div class="input-group mb-2"><div class="input-group-prepend"><div class="input-group-text">Name</div></div><input class="form-control" v-model="t.name" placeholder="name"/></div></div>' +
            '<div class="w-100"></div>' +
            '<div class="col"><div class="input-group mb-2"><div class="input-group-prepend"><div class="input-group-text">Button</div></div><select class="custom-select" v-model="t.button"><option v-for="btn in this.$root.config.buttons" v-bind:value="btn.name">{{ btn.name }}</option></select></div></div>' +
            '<div class="w-100"></div>' +
            '<div class="col"><div class="input-group mb-2"><div class="input-group-prepend"><div class="input-group-text">On</div></div><input class="form-control" type="time" v-model="t.on" placeholder="on"></div></div>' +
            '<div class="col"><div class="input-group mb-2"><div class="input-group-prepend"><div class="input-group-text">Off</div></div><input class="form-control" type="time" v-model="t.off" placeholder="off"></div></div>' +
            '<div class="col"><div class="input-group mb-2"><div class="input-group-prepend"><div class="input-group-text">Inverted</div></div><input class="form-control" type="checkbox" v-bind:checked="!t.inverted" placeholder="inverted"></div></div>' +
            '<div class="w-100"></div>' +
            '<div class="col"><button type="button" @click="$emit(\'delete-row\')" class="btn btn-outline-danger btn-lg btn-block">delete</button></div></div>'
    });

    // thresholds
    Vue.component('thresh-item', {
        props: ['t'],
        template: '<div class="form-row">' +
            '<div class="col"><div class="input-group mb-2"><div class="input-group-prepend"><div class="input-group-text">Name</div></div><input class="form-control" v-model="t.name" placeholder="name"/></div></div>' +
            '<div class="w-100"></div>' +
            '<div class="col"><div class="input-group mb-2"><div class="input-group-prepend"><div class="input-group-text">Duration</div></div><input class="form-control" type="number" v-model="t.duration" min="0" placeholder="duration (s)"></div></div>' +
            '<div class="col"><div class="input-group mb-2"><div class="input-group-prepend"><div class="input-group-text">Threshold</div></div><input class="form-control" type="number" v-model="t.threshold" placeholder="threshold"></div></div>' +
            '<div class="w-100"></div>' +
            '<div class="col"><div class="input-group mb-2"><div class="input-group-prepend"><div class="input-group-text">Comparator</div></div><select class="custom-select" v-model="t.comparator"><option>&gt;</option><option>&lt;</option></select></div></div>' +
            '<div class="col"><div class="input-group mb-2"><div class="input-group-prepend"><div class="input-group-text">Minimum gap</div></div><input class="form-control" type="number" v-model="t.gap" min="0" placeholder="gap between actions (s)"></div></div>' +
            '<div class="w-100"></div>' +
            '<div class="col"><div class="input-group mb-2"><div class="input-group-prepend"><div class="input-group-text">Button</div></div><select class="custom-select" v-model="t.button"><option v-for="btn in this.$root.config.buttons" v-bind:value="btn.name">{{ btn.name }}</option></select></div></div>' +
            '<div class="col"><div class="input-group mb-2"><div class="input-group-prepend"><div class="input-group-text">Inverted</div></div><input class="form-control" type="checkbox" v-bind:checked="!t.inverted" placeholder="inverted"></div></div>' +
            '<div class="w-100"></div>' +
            '<div class="col"><div class="input-group mb-2"><div class="input-group-prepend"><div class="input-group-text">Sensor</div></div><select class="custom-select" v-model="t.sensor"><option v-for="s in this.$root.config.sensors" v-bind:value="s.name">{{ s.name }}</option></select></div></div>' +
            '<div class="col"><div class="input-group mb-2"><div class="input-group-prepend"><div class="input-group-text">Type</div></div><select class="custom-select" v-model="t.sensor_type"><option>humidity</option><option>temperature</option></select></div></div>' +
            '<div class="w-100"></div>' +
            '<div class="col"><button type="button" @click="$emit(\'delete-row\')" class="btn btn-outline-danger btn-lg btn-block">delete</button></div></div>'
    });

    var app = new Vue({
        el: '#app',
        data: {
            isloaded_config: false,
            isloaded_types: false,
            sensor_types: [],
            config: null,
        },
        mounted() {
            this.loadConfig();
        },
        methods: {
            reverseMessage: function () {
                this.timers[0].name = this.timers[0].name.split('').reverse().join('');
            },
            saveConfig: function () {
                // POST JSON config
                axios.post('config/update', this.$root.config)
                    .then(function (response) {
                        console.log("success!", response);
                    })
                    .catch(function (error) {
                        console.log("error!", error);
                    });
            },
            loadConfig: function () {
                // GET JSON config
                axios.get('/config.json')
                    .then(function (response) {
                        console.log("success loading config!", response);
                        app.config = response.data;
                        app.isloaded_config = true;
                        console.log(this);
                        console.log(app);
                    })
                    .catch(function (error) {
                        console.log("error loading config!", error);
                    });
                axios.get('/sensortypes.json')
                    .then(function (response) {
                        console.log("success loading config!", response);
                        app.sensor_types = response.data;
                        app.isloaded_types = true;
                    })
                    .catch(function (error) {
                        console.log("error loading config!", error);
                    });
            },
            addThreshold: function () {
                app.config.thresholds.push({
                    name: "threshold",
                    duration: 10,
                    threshold: 30,
                    comparator: "<",
                    button: null,
                    inverted: false,
                    gap: 600,
                    sensor: null,
                    sensor_type: "humidity"
                });
            },
            addTimer: function () {
                app.config.timers.push({
                    name: "timer",
                    button: null,
                    on: "00:42",
                    off: "02:30",
                    inverted: false
                });
            },
            addSensor: function () {
                app.config.sensors.push({
                    name: "sensor",
                    type: "analog_h",
                    pin: 15,
                    enabled: false
                });
            },
            addButton: function () {
                app.config.buttons.push({
                    name: "button",
                    pin: 12,
                    type: "scroll",
                    min: 0,
                    max: 1023
                });
            },
            deleteItem: function (k, index) {
                console.log("delete ", k, index);
                this.config[k].splice(index, 1);
            }
        }
    });
</script>